//- ---

block prepend content
  - game = data.game
  - tab = game.manifest[data.tabIndex]

  //- Tabs
  if game.manifest.length > 1
    .flex.flex-wrap.bg-gray-5.orbitron
      each tab in game.manifest
        a.flex.flex-none.items-center.justify-center.p-2.w-100p.sm_w-50p.md_w-33p.lg_w-25p.xl_w-20p.hover_pointer.hover_bg-gray-6.gray-9.hover_white(href=`/${tab.url}`)
          .text-4=tab.name

  //- Images
  if !tab.text
    .flex.flex-wrap
      each asset in tab.files
        - 
          const assetUrl = `https://assets.pixelastic.com/videogames/${game.slug}/${asset}`;
          const zoomUrl = img(assetUrl, { quality: 80 });
          const options = { quality: 80, width: 350 }
        a.flex.flex-none.min-h-5.w-100p.sm_w-50p.md_w-33p.lg_w-25p.xl_w-20p(data-fancybox="gallery" href=zoomUrl)
          +img.object-cover.w-100p.h-100p.js-zoom(src=assetUrl options=options)

  //- Text
  if tab.text
    - 
      gameCover = img(`https://assets.pixelastic.com/videogames/${game.slug}/cover.jpg`)
      imgUrlPrefix = `https://assets.pixelastic.com/videogames/${tab.assetPrefix}`
    .prose.md_prose-xl.lg_prose-2xl.mx-auto.gray-5.mt-1!=markdown(tab.text, { imgUrlPrefix })
