extends /_includes/layouts/core

block meta
  - gameName = data.game.name
  - gameSlug = data.game.slug
  - gameManifest = data.game.manifest
  - gameCover = `https://assets.pixelastic.com/videogames/${gameSlug}/cover.jpg`
  - tabIndex = data.tabIndex
  - tab = gameManifest[tabIndex]
  - assetPrefix = tab.assetPrefix
  - tabFiles = tab.files
  - tabText = tab.text
  - meta.title = `Videogames - ${gameName}`


block prepend content
  //- Tabs
  if gameManifest.length > 1
    .flrw.flspa.bg-gray-5.orbitron
      each tab in gameManifest
        a.fln.flcnw.flc.p-2.w-100p.sm_w-50p.md_w-33p.lg_w-25p.xl_w-20p.hover_pointer.hover_bg-gray-6.gray-9.hover_white(href=`/${tab.url}`)
          .text-4=tab.name

  //- Images
  if !tabText
    .flrw
      each asset in tabFiles
        - 
          const assetUrl = `https://assets.pixelastic.com/videogames/${gameSlug}/${asset}`;
          const zoomUrl = img(assetUrl, { quality: 80 });
          const options = { quality: 80, width: 350 }
        a.fln.flcnw.flc.min-h-5.w-100p.sm_w-50p.md_w-33p.lg_w-25p.xl_w-20p(data-fancybox="gallery" href=zoomUrl)
          +img.object-cover.w-100p.h-100p.js-zoom(src=assetUrl options=options)

  //- Text
  if tabText
    - 
      gameCover = img(gameCover)
      imgUrlPrefix = `https://assets.pixelastic.com/videogames/${assetPrefix}`
    .prose.md_prose-xl.lg_prose-2xl.mx-auto.gray-5.mt-1!=markdown(tabText, { imgUrlPrefix })
