extends /_includes/_layouts/core

block config
  - gameName = data.game.name
  - gameSlug = data.game.slug
  - gameManifest = data.game.manifest
  - gameCover = `https://assets.pixelastic.com/videogames/${gameSlug}/cover.jpg`
  - tabIndex = data.tabIndex
  - tab = gameManifest[tabIndex]
  - assetPrefix = tab.assetPrefix
  - tabFiles = tab.files
  - tabText = tab.text
  - pageTitle = `Videogames - ${gameName}`


block prepend content
  //- Tabs
  if gameManifest.length > 1
    .flrw.flspa.bg-gray-5.orbitron
      each tab in gameManifest
        a.fln.flcnw.flc.p-2.w-100p.sm_w-50p.md_w-33p.lg_w-25p.xl_w-20p.hover_pointer.hover_bg-gray-6.gray-9.hover_white(href=`/${tab.url}`)
          .text-4=tab.name

  //- Images
  if !tabText
    .flrw
      each asset in tabFiles
        - thumbnailHigh = data.cloudinary.thumbnailHigh(`${gameSlug}/${asset}`);
        - thumbnailLow = data.cloudinary.thumbnailLow(`${gameSlug}/${asset}`);
        - fullImage = data.cloudinary.fullImage(`${gameSlug}/${asset}`);
        a.fln.flcnw.flc.min-h-5.w-100p.sm_w-50p.md_w-33p.lg_w-25p.xl_w-20p(data-fancybox="gallery" href=fullImage)
          img.js-zoom.lazyload(data-src=thumbnailHigh src=thumbnailLow)

  //- Text
  if tabText
    - imagePrefixHigh = data.cloudinary.markdownHigh(`${assetPrefix}/`);
    - imagePrefixLow = data.cloudinary.markdownLow(`${assetPrefix}/`);
    - htmlText = markdown(tabText)
    - updatedText = _.replace(htmlText, /img src="(.*?)"/g, `img src="${imagePrefixLow}$1" data-src="${imagePrefixHigh}$1" class="lazyload"`)
    - gameCover = data.cloudinary.fullImage(`${gameSlug}/cover.jpg`);
    .relative.bg-top.bg-no-repeat.bg-contain(style=`background-image:url(${gameCover})`)
      .absolute.z-1.top-0.left-0.right-0.bottom-0.bg-black.bg-opacity-90p
      .__markdown.relative.z-2.w-100p.sm_w-80p.lg_w-50p.mx-auto
        .text-4.gray-5.p-3!=updatedText


