extends /_includes/_layouts/core

block config
  - gameName = data.game.name
  - gameSlug = data.game.slug
  - gameManifest = data.game.manifest
  - gameCover = `https://assets.pixelastic.com/videogames/${gameSlug}/cover.jpg`
  - tabIndex = data.tabIndex
  - tab = gameManifest[tabIndex]
  - assetPrefix = tab.assetPrefix
  - tabFiles = tab.files
  - tabText = tab.text
  - pageTitle = `Videogames - ${gameName}`


block prepend content
  //- Tabs
  if gameManifest.length > 1
    .flrw.flspa.bg-gray-5.orbitron
      each tab in gameManifest
        a.fln.flcnw.flc.p-2.w-100p.sm_w-50p.md_w-33p.lg_w-25p.xl_w-20p.hover_pointer.hover_bg-gray-6.gray-9.hover_white(href=`/${tab.url}`)
          .text-4=tab.name

  //- Images
  if !tabText
    .flrw
      each asset in tabFiles
        - 
          const assetUrl = `https://assets.pixelastic.com/videogames/${gameSlug}/${asset}`;
          const zoomUrl = img(assetUrl, { quality: 80 });
          const options = { quality: 80, width: 350 }
        a.fln.flcnw.flc.min-h-5.w-100p.sm_w-50p.md_w-33p.lg_w-25p.xl_w-20p(data-fancybox="gallery" href=zoomUrl)
          +img.object-cover.w-100p.h-100p.js-zoom(src=assetUrl options=options)

  //- Text
  if tabText
    -
      const baseUrl = `https://assets.pixelastic.com/videogames/${assetPrefix}/`
      const attributes = lazyload(baseUrl)
      htmlText = markdown(tabText)
      updatedText = _.replace(htmlText, /img src="(.*?)"/g, `img src="${attributes.placeholder}$1" data-src="${attributes.full}$1" class="lazyload" loading="lazy"`)
      gameCover = img(gameCover)
    .relative.bg-top.bg-no-repeat.bg-contain(style=`background-image:url(${gameCover})`)
      .absolute.z-1.top-0.left-0.right-0.bottom-0.bg-black.bg-opacity-90p
      .__markdown.relative.z-2.w-100p.sm_w-80p.lg_w-50p.mx-auto
        .text-4.gray-5.p-3!=updatedText


