extends /_includes/_layouts/core

block config
  - game = _.find(data.games, { slug: gameSlug })
  - pageTitle = game.name

block prepend content
  //- Title
  a.block.bg-gray-7.hover_bg-gray-8.flcnw.flc(href=url.here)
    .blue-4.text-7.orbitron=game.name

  each tab, index in game.manifest
    - checked = index === 0
    input.hidden(type="radio" name="gallery-switcher" id=`gallery-${index}` checked=checked)

  .__gallery-wrapper
    //- Tabs
    .flrw.bg-gray-5.orbitron
      each tab, index in game.manifest
        label.__gallery-tab.active_bg-blue.fla.flcnw.flc.p-2.hover_pointer.hover_bg-gray-6.gray-9.hover_white(for=`gallery-${index}`)
          .text-4=tab.name

    //- Images
    each tab, index in game.manifest
      div
        .__gallery-list.rw.hidden(name=`gallery-${index}`)
          each asset in tab.files
            - assetUrl = `http://assets.pixelastic.com/videogames/${gameSlug}/${asset}`;
            a.fln.w-100p.sm_w-50p.md_w-33p.lg_w-25p.xl_w-20p(data-fancybox=`gallery-${index}` href=assetUrl)
              img.js-zoom.lazyload(data-src=assetUrl)

